<!-- Sidebar menu-->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
    <div class="app-sidebar__user">
        <img class="app-sidebar__user-avatar" src="{{ request.user.get_profile }}"
             alt="User Image" width="48px" height="48px"/>
        <div>
            <p class="app-sidebar__user-name">{{ request.user.first_name }}</p>
            <p class="app-sidebar__user-designation">{{ request.user.last_name }}</p>
        </div>
    </div>
    <ul class="app-menu">
        {% if perms.compras %}
            <li class="treeview">
                <a class="app-menu__item" href="#" data-toggle="treeview"><i class="fas fa-shopping-cart"> </i><span
                        class="app-menu__label">&nbsp;&nbsp;&nbsp;Compras</span><i
                        class="treeview-indicator fa fa-angle-right"></i></a>
                <ul class="treeview-menu">
                    <li><a class="treeview-item" href="{% url 'compras:factura_add' %}">Registrar Compra</a></li>
                    <li><a class="treeview-item" href="{% url 'compras:factura_list' %}">Facturas Compras</a></li>
                    <li><a class="treeview-item" href="">Stock Materia Prima</a></li>
                    {% if perms.compras.view_proveedor or perms.compras.add_proveedor or perms.compras.delete_proveedor or perms.compras.change_proveedor%}
                        <li><a class="treeview-item" href="{% url 'compras:proveedor_list' %}">Proveedores</a></li>
                    {% endif %}
                </ul>
            </li>
        {% endif %}
        {% if perms.accounts %}
            <li class="treeview">
                <a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-cog"></i><span
                        class="app-menu__label">Admin. Usuarios</span><i
                        class="treeview-indicator fa fa-angle-right"></i></a>
                <ul class="treeview-menu">
                    {% if perms.accounts.view_user or perms.accounts.delete_user or perms.accounts.change_user %}
                        <li>
                            <a class="treeview-item" href="{% url 'list_user' %}">Lista de Usuarios</a>
                        </li>
                    {% endif %}
                    {% if perms.accounts.add_user %}
                        <li>
                            <a class="treeview-item" href="{% url 'add_user' %}">Agregar Usuario</a>
                        </li>
                    {% endif %}
                    {% if perms.auth.add_group %}
                        <li>
                            <a class="treeview-item" href="{% url 'add_rol' %}">Gestionar Roles</a>
                        </li>
                    {% endif %}
                </ul>
            </li>
        {% endif %}
    </ul>
</aside>