<div class="modal-dialog" role="document">
    <form id="productoForm" method="POST" action="{% url 'produccion:producto_add' %}">
        {% csrf_token %}
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">Agregar un Producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="bs-component">
                        <div class="show-errors">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Codigo: </label>
                        {{ form.codigo_producto}}
                    </div>
                    <div class="form-group">
                        <label class="control-label">Nombre: </label>
                        {{ form.nombre }}
                    </div>
                    <div class="form-group">
                        <label class="control-label">Tipo: </label>
                        {{ form.tipo }}
                    </div>
                    <div class="form-group">
                        <label class="control-label">Volumen: </label>
                        {{ form.volumen }}
                    </div>
                    <div class="form-group">
                        <label class="control-label">Color: </label>
                        {{ form.color }}
                    </div>
                    <div class="form-group">
                        <label class="control-label">Precio: </label>
                        {{ form.precio }}
                    </div>
                    <div class="form-group">
                        <label class="control-label">Cantidad contenido: </label>
                        {{ form.cantidad_contenido }}
                    </div>
                    <div class="form-group">
                        <label class="control-label">Tasa IVA: </label>
                        {{ form.tasa_iva }}
                    </div>
                    <div class="form-group">
                        <label class="control-label">Stock inicial: </label>
                        {{ form.stock_inicial }}

                    </div>


                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="create_ajax_producto()">Registrar Producto</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </form>
</div>