<div class="modal-dialog" role="document">
    <form id="equipoFormUpdate" method="POST" action="{% url 'produccion:equipo_edit' object.pk  %}">
        {% csrf_token %}
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">Editar un Equipo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="bs-component">
                        <div class="show-errors">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Codigo: </label>
                        {{ form.codigo}}
                    </div>
                    <div class="form-group">
                        <label class="control-label">Nombre: </label>
                        {{ form.nombre }}
                    </div>
                    <div class="form-group">
                        <label class="control-label">Horas utiles: </label>
                        {{ form.horas_utiles }}
                    </div>
                    <fieldset disabled>
                    <div class="form-group">
                        <label class="control-label">Horas utilizadas: </label>
                        {{ form.horas_utilizadas }}
                    </div>
                    </fieldset>
                    <div class="form-group">
                        <label class="control-label">Ultimo Mantenimiento: </label>
                        {{ form.ultimo_mantenimiento }}
                    </div>
                    <div class="form-group">
                        <label class="control-label">Proximo Mantenimiento: </label>
                        {{ form.proximo_mantenimiento }}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="editar_ajax_equipo()">Editar Equipo</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </form>
</div>