{% extends 'base.html' %}

{% load static %}

{% block navbar %}
    {% include 'home/navbar.html' %}
{% endblock navbar %}

{% block head-app %}
    <div>
        <h1><i class="fas fa-atom"> </i> {{ title }}</h1>
        <p>Sistema de Gestion - Labsoft</p>
    </div>
{% endblock %}

{% block head %}
    <style>
        #Table td, th {
            vertical-align: inherit;
            padding: 0.4rem;
        }
    </style>
{% endblock %}

{% block sidebar %}
    {% include 'home/sidebar.html' %}
{% endblock sidebar %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{{ route }}">{{ title }}</a></li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-body">
                    <div class="table-responsive">
                            {% if perms.produccion.add_equipo %}
                                <span>
                                <button onclick="abrir_modal('{% url 'produccion:equipo_add' %}')"
                                        class="btn btn-primary btn-sm">+ Agregar Equipo</button>
                                </span>
                                {% csrf_token %}
                            {% endif %}
                        <div style="text-align: center;">
                            <h4 style="font-size: large; margin-bottom: 0" class="tile-title">{{ subtitle }}</h4>
                        </div>
                        <table class="table table-hover table-bordered" id="equipoTable" style="max-width: 100%; width: 100%">
                            <thead>
                            <tr style="font-size: 0.7rem">
                                <th>CODIGO</th>
                                <th>NOMBRE</th>
                                <th>ACCIONES</th>
                            </tr>
                            </thead>
                            <tbody>
                                
                                <tr style="font-size: 0.75rem;">
                                    <td></td>
                                    <td></td>
                                    <td style="text-align: center;">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal para agregar equipo -->
    <div class="modal fade" id="equipoModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">

    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static "js/functions/functions.js" %}"></script>
    <script type="text/javascript" src="{% static "js/produccion/indexEquipos.js" %}"></script>
    <script>
        list_equipo('/modulos/produccion/equipos/list/', '/modulos/produccion/equipos/edit/', '/modulos/produccion/equipos/del/', {{ perms.produccion.change_equipo | safe | lower}}, {{ perms.produccion.delete_equipo | safe | lower}});
    </script>
{% endblock %}