<div class="modal-dialog" role="document">
    <form id="stockFormUpdate" method="POST" action="{% url 'compras:stock_edit' object.pk %}">
        {% csrf_token %}
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Stock {{ object }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="bs-component">
                        <div class="show-errors">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Codigo Materia: </label>
                        {{ form.codigo }}
                    </div>
                    <div class="form-group">
                        <label class="control-label">Nombre: </label>
                        {{ form.nombre }}
                    </div>
                    <div class="form-group">
                        <label class="control-label">Descripcion: </label>
                        {{ form.descripcion }}
                    </div>
                    <div class="form-group">
                        <label class="control-label">Cantidad de Contenido: </label>
                        {{ form.cantidadCont }}
                    </div>
                    <div class="form-group">
                        <label class="control-label">INCI: </label>
                        {{ form.inci }}
                    </div>
                    <div class="form-group">
                        <label class="control-label">Unidad de Medida: </label>
                        {{ form.um }}
                    </div>
                    <div class="form-group">
                        <label class="control-label">Cantidad (stock): </label>
                        {{ form.cantidad }}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="editar_ajax_stock()">Editar Proveedor</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </form>
</div>