{% extends 'base.html' %}
{% load static %}

{% block head-app %}
    <div>
        <h1><i class="fas fa-atom"> </i>{{ title }}</h1>
        <p>Sistema de Gestion - Labsoft</p>
    </div>
{% endblock %}



{% block navbar %}
    {% include 'home/navbar.html' %}
{% endblock navbar %}


{% block sidebar %}
    {% include 'home/sidebar.html' %}
{% endblock sidebar %}


{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <div class="tile">
                    <h3 class="tile-title">Reporte de Orden de Elaboracion</h3>
                    <div class="tile-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="control-label">Seleccione el Estado</label>
                                <select class="form-control" id="estado">
                                    <option>TODAS</option>
                                    <option>FINALIZADA</option>
                                    <option>PENDIENTE</option>
                                    <option>EN PRODUCCION</option>

                                </select>  
                            </div>
                            <div class="form-group">

                                <label for="start">Fecha de Inicio:</label>

                                <input type="date" id="start" name="trip-start"
                                       value="2021-01-01"
                                       min="2018-01-01">
                            </div>
                            <div class="form-group">

                                <label for="start">Fecha final :</label>

                                <input type="date" id="end" name="trip-start"
                                       value="2021-01-01"
                                       min="2018-01-01" >
                            </div>

                          
               
                            <div class="tile-footer">
                                <button type="button" class=" btn btn-primary btn-sm btnReporteOrden"
                                style="height: 40px; align-content: center">
                                <label><i
                                    class="fa fa-fw fa-lg fa-check-circle"></i>Generar Reporte</label>
                                </button>
                             
                                             </div>
                        </form>
                    </div>

                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block scripts %}
<style>
    label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}

</style>
    <script>

    </script>
        <script type="text/javascript" src= {% static "js/reportes/reportes.js" %}></script>

{% endblock %}